body
{
	background: #e7e7e7;
	font-family: Tahoma;
    font-size: 9pt;
}

table.t_style_a
{
	border-width: thin;
	border-style: solid;
	border-collapse: collapse;
	border-color: #111111;
}
	
table.t_style_b
{
	border-width: thin;
	border-style: solid;
	border-collapse: collapse;
	border-color: #ccc;
}

.main1
{
	background-image: url(../images/gradient_tcat.gif);
	color: #fff;
	border-color: #ccc;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-right: 1%;
}
	
.main1 a:link
{
	color: #F6F6F6;
	text-decoration: none;
}

.main1 a:visited
{
	color: #F6F6F6;
	text-decoration: none;
}

.main1 a:hover, .main1 a:active
{
	color: #F4A100;
	text-decoration: none;
}

.main2
{
	background-image: url(../images/gradient_thead.gif);
	color: #545A83;
	border-color: #ccc;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-right: 1%;
}

.main2 a:link
{
	color: #5B618F;
	text-decoration: none;
}

.main2 a:visited
{
	color: #5B618F;
	text-decoration: none;
}

.main2 a:hover, .main2 a:active
{
	color: #FF0000;
	text-decoration: none;
}

.row1
{ 
	background: #F8F8F8;
	border-color: #ccc;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-right: 1%;
}

.row2
{ 
	background: #F4F4F4;
	border-color: #ccc;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-right: 1%;
}


.rows_space
{
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-right: 1%;
}


th,td,p 
{
	font-family: Tahoma;
    font-size: 9pt;
    color: #000000;
}

a:link,a:active,a:visited 
{
	text-decoration: none;
    color: #003366;
}

a:hover	
{
	text-decoration: none;
    color: #0066FF;
}

textarea 
{
	font-family: Tahoma;
	font-size: 8pt;
	border-width: 1px;
	border-style: dashed;
	border-color: #B4B4B4;
}

input,button
{
	font-family: Tahoma;
	font-size: 8pt;
	border-width: 1px;
	border-style: dashed;
	border-color: #B4B4B4;
}

select 
{
	font-family: Tahoma;
	font-size: 8pt;
	border-width: 1px;
	border-style: dashed;
	border-color: #B4B4B4;
}

option.main_section
{
	font-weight: bold;
	font-style: italic;
}

.address_bar
{
	width: 97.5%;
	
	border-width: thin;
	border-style: dashed;
	border-color: #ccc;	
	
	background: #F2F2F2;
	
	padding-top: 0.5%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 0.5%;
	
	font-family: Tahoma;
    font-size: 9pt;
}
