body
{
	background: #e7e7e7;
	font-family: Tahoma;
    font-size: 9pt;
}

#main
{
	width: 80%;
	border-width: 0;
	margin-left: 11%;
	margin-right: 11%;
}

#header
{
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	background: #656B9A;
	padding-top: 1%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
	height: 110px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

#header .menu_box
{
	width: 120px;
	border-width: 0;
	text-align: center;
    font-size: 8pt;
    border-radius: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2.5%;
}

#header .menu_box a:hover
{
	color: #0066FF;
}

#address_bar
{
	width: 96%;
	margin-right: 1%;
	
	border-width: thin;
	border-style: solid;
	border-color: #ccc;
	border-radius: 5px;	
	
	background: #F2F2F2;
	
	padding-top: 0.5%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 0.5%;
}

#context
{
	width: 100%;
	
	border-top-width: 0;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #ccc;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #ccc;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #ccc;	

	background: #fff;
	
	padding-top: 0.5%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 0.5%;
}

#info_bar
{
	width: 100%;
	height: 24px;
	
	border-top-width: 0;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #ccc;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #ccc;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	
	background: #F2F2F2;
	
	padding-top: 1%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 0.5%;
    
    clear: both;
}

#footer
{
	width: 100%;
	
	border-top-width: 0;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #ccc;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #ccc;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	
	background-image: url(../images/footer.gif);
	
	padding-right: 1%;
	padding-left: 1%;
	
    font-size: 8pt;
    color: #545A83;
    text-align: center;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#login_box
{
	width: 50%;
	
	border-width: thin;
	border-style: solid;
	border-color: #ccc;
	
	background: #F8F8F8;
	
    text-align: center;
}


.right_side
{
	float: right;
}

.left_side
{
	float: left;
}

.usercp_menu
{
}

.usercp_context
{
	width: 87%;
}

.box
{
	width: 100%;
	
	border-top-width: 0;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #ccc;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #ccc;
	border-bottom-width: 0;
		
	background: #fff;
	
	padding-top: 1%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 0.5%;
	
    clear: both;
}

table.t_style_b
{
	border-style: solid;
	border-collapse: collapse;
	border-color: #ccc;
}

.main1
{
	background-image: url(../images/gradient_tcat.gif);
	color: #fff;
	border-color: #ccc;
}
	
.main1 a:link
{
	color: #F6F6F6;
	text-decoration: none;
}

.main1 a:visited
{
	color: #F6F6F6;
	text-decoration: none;
}

.main1 a:hover, .main1 a:active
{
	color: #F4A100;
	text-decoration: none;
}

.main2
{
	background-image: url(../images/gradient_thead.gif);
	color: #545A83;
	border-color: #ccc;
}

.main2 a:link
{
	color: #5B618F;
	text-decoration: none;
}

.main2 a:visited
{
	color: #5B618F;
	text-decoration: none;
}

.main2 a:hover, .main2 a:active
{
	color: #FF0000;
	text-decoration: none;
}

.row1
{ 
	background: #F8F8F8;
	border-color: #ccc;
}

.row2
{ 
	background: #F4F4F4;
	border-color: #ccc;
}


.rows_space
{
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-right: 1%;
}


th,td,p 
{
	font-family: Tahoma;
    font-size: 9pt;
    color: #000000;
}

a:link,a:active,a:visited 
{
	text-decoration: none;
    color: #003366;
}

a:hover	
{
	text-decoration: none;
    color: #0066FF;
}

.small_text
{ 
	font-size: 11px; 
}

textarea 
{
	font-family: Tahoma;
	font-size: 8pt;
	border-width: 1px;
	border-style: solid;
	border-color: #B4B4B4;
	border-radius: 5px;
}

input,button
{
	font-family: Tahoma;
	font-size: 8pt;
	border-width: 1px;
	border-style: solid;
	border-color: #B4B4B4;
	border-radius: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
}

select 
{
	font-family: Tahoma;
	font-size: 8pt;
	border-width: 1px;
	border-style: solid;
	border-color: #B4B4B4;
	border-radius: 3px;
}

a.unreadpm, .unreadpm
{
	color: #FF0000;
}

.readpm
{
	color: #000000;
}

option.main_section
{
	font-weight: bold;
	font-style: italic;
}

.online
{
	color: #2e8b57;
}

.offline
{
	color: #FF0000;
}

.highlight
{
	color: #FF0000;
	font-weight: bold;
	font-style: italic;
}

.pagination
{
	margin-bottom: 1%;
}

.pagination a
{
	border: 1px solid #dddddd;
	padding: 0.2% 0.2% 0.2% 0.3%;
	border-radius: 5px;
}

.pagination a:hover
{
	border-color: #a7a7a7;
}

.pagination .current
{
	border: 1px solid #a7a7a7;
	padding: 0.2% 0.2% 0.2% 0.3%;
	border-radius: 5px;
	background: #eee;
}

a.button
{
	border: 1px solid #a7a7a7;
	padding: 0.5% 0.5% 0.5% 0.5%;
	border-radius: 5px;
	background: #eee;
}

a.button:hover
{
	background: #DFDFDF;
	color: #000;
}