body
{
	background: #e7e7e7;
}

#main
{
	width: 80%;
	border-width: 0;
	margin-left: 11%;
	margin-right: 11%;
	background: #fff;
}

#header
{
	width: 100%;
	border-width: thin;
	border-style: solid;
	border-color: #ccc;
	background: #656B9A;
	padding-top: 1%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
	height: 110px;
}

#header .menu_box
{
	width: 120px;
	border-width: 0;
	text-align: center;
	font-family: Tahoma;
    font-size: 8pt;
}

#header .menu_space
{
	padding-bottom: 2.5%;
}

#address_bar
{
	width: 97.5%;
	
	border-width: thin;
	border-style: dashed;
	border-color: #ccc;	
	
	background: #F2F2F2;
	
	padding-top: 0.5%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 0.5%;
	
	font-family: Tahoma;
    font-size: 9pt;
}

#context
{
	width: 100%;
	
	border-top-width: 0;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #ccc;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #ccc;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #ccc;	

	background: #fff;
	
	padding-top: 0.5%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 0.5%;
	
	font-family: Tahoma;
    font-size: 9pt;
    
    float: right;
}

#info_bar
{
	width: 100%;
	height: 24px;
	
	border-top-width: 0;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #ccc;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #ccc;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	
	background: #F2F2F2;
	
	padding-top: 1%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 0.5%;
	
	font-family: Tahoma;
    font-size: 9pt;
    
    clear: both;
}

#footer
{
	width: 100%;
	
	border-top-width: 0;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #ccc;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #ccc;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	
	background-image: url(../images/footer.gif);
	
	padding-right: 1%;
	padding-left: 1%;
	
	font-family: Tahoma;
    font-size: 8pt;
    color: #545A83;
    text-align: center;
}

#login_box
{
	width: 50%;
	
	border-width: thin;
	border-style: solid;
	border-color: #ccc;
	
	background: #F8F8F8;
	
    text-align: center;
}


.right_side
{
	float: right;
}

.left_side
{
	float: left;
}

.usercp_menu
{
	clear: right;
	float: right;
}

.usercp_context
{
	width: 87%;
	clear: left;
	float: left;
}

.box
{
	width: 100%;
	
	border-top-width: 0;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #ccc;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #ccc;
	border-bottom-width: 0;
	
		
	background: #fff;
	
	padding-top: 1%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 0.5%;
	
	font-family: Tahoma;
    font-size: 9pt;
    
    clear: both;
}

table.t_style_a
{
	border-width: thin;
	border-style: solid;
	border-collapse: collapse;
	border-color: #111111;
}
	
table.t_style_b
{
	border-width: thin;
	border-style: solid;
	border-collapse: collapse;
	border-color: #ccc;
}

.main1
{
	background-image: url(../images/gradient_tcat.gif);
	color: #fff;
	border-color: #ccc;
}
	
.main1 a:link
{
	color: #F6F6F6;
	text-decoration: none;
}

.main1 a:visited
{
	color: #F6F6F6;
	text-decoration: none;
}

.main1 a:hover, .main1 a:active
{
	color: #F4A100;
	text-decoration: none;
}

.main2
{
	background-image: url(../images/gradient_thead.gif);
	color: #545A83;
	border-color: #ccc;
}

.main2 a:link
{
	color: #5B618F;
	text-decoration: none;
}

.main2 a:visited
{
	color: #5B618F;
	text-decoration: none;
}

.main2 a:hover, .main2 a:active
{
	color: #FF0000;
	text-decoration: none;
}

.row1
{ 
	background: #F8F8F8;
	border-color: #ccc;
}

.row2
{ 
	background: #F4F4F4;
	border-color: #ccc;
}


.rows_space
{
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-right: 1%;
}


th,td,p 
{
	font-family: Tahoma;
    font-size: 9pt;
    color: #000000;
}

a:link,a:active,a:visited 
{
	text-decoration: none;
    color: #003366;
}

a:hover	
{
	text-decoration: none;
    color: #0066FF;
}

.small_text
{ 
	font-size: 11px; 
}

textarea 
{
	font-family: Tahoma;
	font-size: 8pt;
	border-width: 1px;
	border-style: dashed;
	border-color: #B4B4B4;
}

input,button
{
	font-family: Tahoma;
	font-size: 8pt;
	border-width: 1px;
	border-style: dashed;
	border-color: #B4B4B4;
}

select 
{
	font-family: Tahoma;
	font-size: 8pt;
	border-width: 1px;
	border-style: dashed;
	border-color: #B4B4B4;
}

a.new_pm 
{
	color: #FF0000;
}








div.wysiwyg 
{ 
	border: 1px solid #cccccc; 
	padding: 5px; 
	background-color: #ffffff; 
}

div.wysiwyg * 
{ 
	margin: 0; 
	padding: 0; 
}

div.wysiwyg ul.panel 
{ 
	border-bottom: 1px solid #cccccc; 
	float: right; 
	width: 100%; 
	padding: 0 0 4px 0; 
}

div.wysiwyg ul.panel li 
{ 
	list-style-type: none; 
	float: right; 
	margin: 0 2px;  
	background: #ffffff;
}

div.wysiwyg ul.panel li.separator 
{ 
	height: 16px; 
	margin: 0 4px; 
	border-right: 1px solid #cccccc; 
}

div.wysiwyg ul.panel li a 
{ 
	opacity: 0.6; 
	display: block; 
	width: 14px; 
	height: 14px;
	/*background: url('../images/wysiwyg.gif') no-repeat -64px -80px; */
	border: 0; 
	cursor: pointer; 
	padding: 1px; 
}
div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active { opacity: 0.99; }
div.wysiwyg ul.panel li a.active { background-color: #f9f9f9; border: 1px solid #cccccc; border-left-color: #aaaaaa; border-top-color: #aaaaaa; padding: 0; }

div.wysiwyg ul.panel li a.bold { background-image: url('../images/wysiwyg/bold.png'); }
div.wysiwyg ul.panel li a.italic { background-image: url('../images/wysiwyg/italic.png'); }
div.wysiwyg ul.panel li a.underline { background-image: url('../images/wysiwyg/underline.png'); }

div.wysiwyg ul.panel li a.justifyLeft { background-image: url('../images/wysiwyg/left.png'); }
div.wysiwyg ul.panel li a.justifyCenter { background-image: url('../images/wysiwyg/center.png'); }
div.wysiwyg ul.panel li a.justifyRight { background-image: url('../images/wysiwyg/right.png'); }

div.wysiwyg ul.panel li a.createLink {  background-image: url('../images/wysiwyg/link.png'); }
div.wysiwyg ul.panel li a.insertImage {  background-image: url('../images/wysiwyg/image.png');}

div.wysiwyg ul.panel li a.code {  background-image: url('../images/wysiwyg/code.png'); }
div.wysiwyg ul.panel li a.quote {  background-image: url('../images/wysiwyg/quote.png');}

div.wysiwyg ul.panel li a.removeFormat { background-image: url('../images/wysiwyg/remove-format.png'); }

div.wysiwyg ul.panel li a.empty { background-position: -64px -80px; }

div.wysiwyg iframe { border: 0; margin: 5px 0 0 0; clear: right; }
