body
{ 
	background: #FFFFFF;
	color: #000;
	font-family: Tahoma, Arial;
	font-size: 13px;
	line-height: 135%;
	margin: 0px;
	padding: 0px;
	width: 95%;
    direction: rtl;
    text-align: center;
}

.right
{
	text-align: right;
}

.left
{
	text-align: left;
}

.print-table
{ 
	border-left-style: 1.5pt solid #D8D8D8; 
	border-right-style: 1.5pt solid #D8D8D8;
	border-top: 1.5pt solid #D8D8D8; 
	border-bottom: 1.5pt solid #D8D8D8; 
}

.print-td
{ 
	border-style: none 
}
